*{
    margin :0;
    padding : 0;
    box-sizing : border-box;
}

body{
    /* background-color: #146C94; */
    /* background-color: #02275D; */
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    font-size: 20px;
    color:whitesmoke;

}

.navbarbro { //ini adalah nama yang adalah callue dari atribut kelasnya, bukan nama tagnya
    margin-bottom: 20px; //cgpt
    padding : 10px 20px;
    display: flex;
    width: 100%;
    align-items :center;
    /* background-color: teal; */
    background-color: #FFA41B;
    /* background-color: #02275D; *///SENDIRI
    //margin-bottom: 200px;//kasih jarak navbar dan konten 
}

.navbarbro ul{
    flex: 1;
    text-align: right;
}

.navbarbro ul li {
    display: inline-block;
    margin: 0 30px;
}

.logo {
    font-size: 35px;
    color: whitesmoke;
}
.mobile-list{
    display: none;
}

/* @media only screen and (max-width: 800px){ */
@media only screen and (min-width: 300px) and (max-width: 800px){
    .navbarbro .desktop-list {
        display: none;
    }
    .mobile-list{
        /* background-color: teal; */
        /* background-color: #02275D; */
        background-color: #FFA41B;
        margin-bottom: 1px;//agar navbar berada tepat diatas tombol navigasi hp
        /* background-color: #FFA41B; */
        display: block;
        color: whitesmoke;
        position: fixed;
        bottom: 0;
        left:0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        
    }
    .mobile-list i {
        /* font-size: 7vmin; */
        font-size: 6vmin; //ukuran ikonnya
        cursor: pointer;
    }
    .mobile-list li:hover i{
        color: rgb(5, 5, 49);//jika diklik warna ikon berubah jadi warna ini
    }
}

@media (max-width: 768px) {
    .col-md-4 {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
    .card-title, .card-text {
        font-size: 0.8rem; /* Contoh ukuran huruf dalam rem */
      }
  }

  //kode untuk halaman kuis
  .card:hover {
    /* Atur efek hover sesuai keinginan Anda */
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}